{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Edit Host{% endblock %}

{% block body %}

    <h1>Edit Host</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}

{% endblock %}
