{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <a href="https://github.com/elkuku/LANSpy">
            <img src="{{ asset('assets/img/spy.jpg') }}"/>
            <h3>LANSpy</h3>
        </a>
    </div>
{% endblock %}
